/credit_card.dat
/data_float.csv
/data_float.txt
/data_int.txt
/mushrooms_categorized.csv
/mushrooms_categorized.json
/residuals_261.pkl
/user_data.json
/data/
.idea/
/bin_file.dat
/populations.txt
/sakila.db
